body {
    background-color: #f5f7fa;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.card-ui {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.section-title {
    margin-top: 40px;
    margin-bottom: 15px;
}

.profile-header {
      background-color: #343a40;
      color: white;
      padding: 30px;
      border-radius: 10px;
}

.stat-card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.graph-placeholder {
    height: 280px;
    background-color: #e9ecef;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c757d;
    font-size: 1.1rem;
    border: 2px dashed #adb5bd;
    flex-direction: column;
}

.btn-custom {
    margin-right: 10px;
}

.hero {
    background-color: #343a40;
    color: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.feature-card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.sign-up-box {
    background-color: #f5f7fa;
    color: black;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.heading{
    font-size: 64px;
}

.sign-up{
    color: #f5f7fa;
    text-align: center;
    font-size: 17px;
    
}

.login-img{
    max-width: 100%;
    max-height: 100%;
    float: right;
    display: block;
    margin: auto;
}

.login-display {
    background-color: #343a40;
}